.common {
    background-color: #ccc;
}

.rare {
    background-color: #9fe8ff;
}

.elite {
    background-color: #c4adff;
}

.super_rare {
    background-color: #ee9;
}

.ultra_rare {
    background-image: linear-gradient(120deg,#fbffca,#baffbf,#a7efff,#ffabff);
}